/* header */




body {
  font-family: Georgia, serif;
}



li {
  list-style: none;
  text-decoration: none;
}



.container {
  /* width: auto; */
  margin: 0 auto;
  max-width: 480px;
}

@media only screen and (min-width: 1100px) {
  .container {
    max-width: 1400px;
    margin: 0 auto;
  }
}

.header {
  height: 30px;
  background-color: #ebebeb;
}

@media only screen and (min-width: 1100px) {
  .header {
    height: 69px;
    background-color: #ebebeb;
  }
}

.dod-header {
  display: flex;
  height: 29px;
  align-items: center;
}

@media only screen and (min-width: 1100px) {
  .dod-header {
    display: flex;
    height: 29px;
    align-items: center;
    align-items: flex-start;
  }
}

.parg-header {
  margin-left: 20px;
  font-size: 10px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.36000001430511475px;
  text-align: left;
  color: #1c2752;
}

@media only screen and (min-width: 1100px) {
  .parg-header {
    margin-left: 240px;
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.36000001430511475px;
    text-align: left;
    color: #1c2752;
  }
}

.social-icons-header {
  display: flex;
  list-style: none;
  gap: 10px;
  display: none;
}

@media only screen and (min-width: 1100px) {
  .social-icons-header {
    margin-left: 300px;
    display: flex;
    list-style: none;
    gap: 29px;
    margin-top: 21px;
  }
}


.social-icn {
  list-style: none;

}

@media only screen and (min-width: 1100px) {
  .social-icn {
    list-style: none;
  }
}

/* sect-one */

.sect-one {
  height: 128px;
  background-color: #ffffff;
  margin-left: 5px;
  display: flex;
}

@media only screen and (min-width: 1100px) {
  .sect-one {
    /* width: 1200px; */
    height: 128px;
    background-color: #ffffff;
    margin-left: 140px;
    margin-right: 140px;
    display: flex;
  }
}

@media only screen and (max-width: 481px) {
  .logo-fotofra {
    width: 140px;
  }
}

@media only screen and (max-width: 481px) {
  .logo {
    height: 48px;
    padding-top: 20px;
  }
}


@media only screen and (min-width: 1100px) {
  .logo {
    width: 242px;
    height: 48px;
    padding-top: 40px;
  }
}

.logo-adress {
  margin-top: 60px;
  margin-left: -143px;
  display: flex;
}

@media only screen and (min-width: 1100px) {
  .logo-adress {
    display: flex;
    margin-top: 30px;
    margin-left: 200px;
    margin-bottom: 25px;
  }
}

.address {
  display: flex;
  align-items: center;
  margin-top: -10px;
}

@media only screen and (min-width: 1100px) {
  .address {
    display: flex;
    align-items: center;
  }
}

.parg-adres {
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.36000001430511475px;
  text-align: left;
}

@media only screen and (min-width: 1100px) {
  .parg-adres {
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.36000001430511475px;
    text-align: left;
  }
}

@media only screen and (max-width: 489px) {

  .logo-email,
  .logo-tell {
    cursor: pointer;
    transition: transform 0.3s;
    width: 35px;
    height: 35px;
  }
}

@media only screen and (min-width: 1100px) {

  .logo-email,
  .logo-tell {
    cursor: pointer;
    transition: transform 0.3s;
    width: 68px;
    height: 68px;
  }
}

.logo-email:focus,
.logo-email:hover,
.logo-tell:focus,
.logo-tell:hover {
  transform: scale(1.2);
}


.email-cont,
.tell-cont {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.36000001430511475px;
  text-align: left;
  color: #7e7e7e;
  text-decoration: none;
}


@media only screen and (min-width: 1100px) {

  .email-cont,
  .tell-cont {
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.36000001430511475px;
    text-align: left;
    color: #7e7e7e;
    text-decoration: none;
  }
}

.teell,
.emaill {
  margin-left: 10px;
}

/* navigation */
.sect-info {
  height: 45px;
  background-color: #ffb342;
  position: relative;
  z-index: 1;
  margin-bottom: -21px;
}

@media only screen and (min-width: 978px) {
  .sect-info {
    margin-left: 140px;
    margin-right: 140px;
    height: 80px;
    background: #ffb342;
    position: absolute;
    z-index: 1;
  }
}


.navigation {
  display: flex;
}

.navig-icons {
  display: flex;
  gap: 15px;
  margin-left: -15px;
}

@media only screen and (min-width: 400px) {
  .navig-icons {
    display: flex;
    gap: 15px;
  }
}

@media only screen and (min-width: 1100px) {
  .navig-icons {
    display: flex;
    gap: 50px;
    padding-top: 7px;
  }
}

.na-glav {
  text-decoration: none;
  color: #222222;
  font-size: 12px;
  font-weight: 600;
  transition: color 0.3s ease;
}

@media only screen and (min-width: 1100px) {
  .na-glav {
    text-decoration: none;
    color: #222222;
    font-size: 17px;
    font-weight: 600;
    line-height: 30px;
    transition: color 0.3s ease;
  }
}


.footer-word {
  text-decoration: none;
}

.na-glav:hover {
  color: #fff;
}

.na-glav:active {
  color: #fff;
}

@media only screen and (max-width: 481px) {
  .cta-button {
    display: none;
  }
}


@media only screen and (min-width: 1100px) {
  .cta-button {
    width: 250px;
    height: 55px;
    border-radius: 2px;
    background: rgb(41, 53, 107);
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.36000001430511475px;
    text-align: center;
    color: #f4f4f4;
    margin-top: 12px;
    margin-left: 85px;
    margin-right: 25px;

    cursor: pointer;
    transition: transform 0.3s;
    border: 2px solid rgba(28, 39, 82, 1)
  }
}

.cta-button:focus,
.cta-button:hover {
  transform: scale(1.1);
}

.ct-button {
  color: #f4f4f4;
  text-decoration: none;
}


/* hero */
.hero {
  background-image: url("../img/sect3/foto11.png");
  background-size: cover;
  background-position: center;
  position: relative;
  color: #fff;
  text-align: center;
  height: 450px;
  margin-top: 20px;
  padding-top: 50px;
}

@media only screen and (max-width: 481px) {
  .hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
}

@media only screen and (min-width: 1100px) {
  .hero {
    background-image: url("../img/hero/hero.png");
    /* Замените путь на ваше изображение или цвет фона */
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    height: 600px;
    margin-top: 40px;
    padding-top: 100px;
    /* Внутренние отступы */
  }
}

.hero-content {
  margin-left: 20px;
  margin-top: 75px;
  position: absolute;
}

@media only screen and (min-width: 1100px) {
  .hero-content {
    margin-left: 140px;
    margin-top: 140px;
  }
}

.parg-hero {
  font-size: 9px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.36000001430511475px;
  text-align: left;
  color: #ffffff;
  margin-left: 5px;
}


@media only screen and (min-width: 1100px) {
  .parg-hero {
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.36000001430511475px;
    text-align: left;
    color: #ffffff;
    margin-left: 10px;
  }
}

.text-hero {
  width: 331px;
  font-size: 40px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 1.2000000476837158px;
  text-align: left;
  color: #ffffff;
  margin-top: 20px;
  margin-bottom: 40px;
}

@media only screen and (min-width: 1100px) {
  .text-hero {
    width: 612px;
    font-size: 60px;
    font-weight: 400;
    line-height: 78px;
    letter-spacing: 1.2000000476837158px;
    text-align: left;
    color: #ffffff;
    margin-top: 20px;
  }
}


.content-container {
  display: flex;
  align-items: center;
  background-color: #ffffff33;
  height: 25px;
  width: 332px;
}


@media only screen and (min-width: 1100px) {
  .content-container {
    display: flex;
    align-items: center;
    background-color: #ffffff33;
    width: max-content;
    height: 29px;
  }
}

.button-hero {
  display: block;
  width: 150px;
  height: 46px;
  font-size: 15px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  border-radius: 2px;
  background: #ffb342;
  border: 2px solid rgba(255, 179, 66, 1);
  cursor: pointer;
  transition: transform 0.3s;
}

@media only screen and (min-width: 1100px) {
  .button-hero {
    display: block;
    width: 227px;
    height: 61px;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    border-radius: 2px;
    background: #ffb342;
    border: 2px solid rgba(255, 179, 66, 1);
    cursor: pointer;
    transition: transform 0.3s;

  }
}

.button-her {
  color: #142051;
  text-decoration: none;
}

.button-hero:focus,
.button-hero:hover {
  transform: scale(1.1);
}

.button-her:focus,
.button-her:hover {
  transform: scale(1.1);
  color: #eceef4;
}

/* image-text-section */

.image-text-section {
  padding-top: 20px;
  padding-bottom: 20px;
}


@media only screen and (min-width: 1100px) {
  .image-text-section {
    padding: 100px 90px;
    display: flex;
  }
}

@media only screen and (max-width: 376px) {
  .foto-fotik {
    width: 300px;
    height: 330px;
    display: block;
  }
}

@media only screen and (min-width: 376px) {
  .foto-fotik {
    width: 350px;
    height: 380px;
    display: block;
  }
}

@media only screen and (min-width: 1100px) {
  .foto-fotik {
    width: 505px;
    height: 560px;
  }
}

@media only screen and (max-width: 481px) {
  .image-container {
    display: flex;
    justify-content: center;
  }
}

.text-sdf {
  margin-top: 10px;
}


@media only screen and (min-width: 1100px) {
  .text-sdf {
    margin-left: 40px;
  }
}


.text-paragraf {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  background-color: #f4f4f4;
  width: 200px;
  margin: auto;
}

@media only screen and (min-width: 978px) {
  .text-paragraf {
    display: flex;
    align-items: center;
    width: max-content;
    height: 29px;
    background-color: #f4f4f4;
  }
}

.parg-bluu {
  font-size: 10px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.36000001430511475px;
  text-align: left;
  color: #1c2752;
  margin-left: 10px;
  background-color: #f4f4f4;
}

@media only screen and (min-width: 1100px) {
  .parg-bluu {
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.36000001430511475px;
    text-align: left;
    color: #1c2752;
    margin-left: 10px;
    background-color: #f4f4f4;
  }
}

.text-glavn {
  font-size: 27px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0.36000001430511475px;
  text-align: center;
  color: #1c2752;
  margin-bottom: 14px;
  margin-top: 15px;
}


@media only screen and (min-width: 1100px) {
  .text-glavn {
    font-size: 45px;
    font-weight: 400;
    line-height: 59px;
    letter-spacing: 0.36000001430511475px;
    text-align: left;
    color: #1c2752;
    margin-bottom: 20px;
    margin-top: 2px;
  }
}

.clipt {
  font-size: 11px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.36000001430511475px;
  text-align: left;
  color: rgba(126, 126, 126, 1);
}

@media only screen and (min-width: 1100px) {
  .clipt {
    font-size: 15px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.36000001430511475px;
    text-align: left;
    color: rgba(126, 126, 126, 1);
  }
}

.pidval-text {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.pidas {
  background: rgb(239, 237, 237);
  width: 200px;
  height: 160px;
}


@media only screen and (min-width: 1100px) {
  .pidas {
    background: rgb(239, 237, 237);
    width: 220px;
    height: 200px;
  }
}

.zero-text {
  font-family: 'Open Sans', sans-serif;
  margin-top: 20px;
  font-size: 5em;
  font-weight: 400;
  line-height: 88px;
  letter-spacing: 0.36000001430511475px;
  text-align: center;
  color: rgba(255, 179, 66, 1);
}

.text-qerf {
  font-size: 19px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.36000001430511475px;
  text-align: center;
  color: #1c2752;
  margin-top: -70px;
}

@media only screen and (min-width: 1100px) {
  .text-qerf {
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.36000001430511475px;
    text-align: center;
    color: #1c2752;
    margin-top: -50px;
  }
}

.new-info {
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 0.36000001430511475px;
  text-align: left;
  color: rgba(126, 126, 126, 1);
  line-height: 16px;
}


@media only screen and (min-width: 1100px) {
  .new-info {
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.36000001430511475px;
    text-align: left;
    color: rgba(126, 126, 126, 1);

  }
}

.pidas-text {
  margin-left: 10px;
  text-align: left;
}

/* orang-section */

.orang-section {
  background: rgba(255, 179, 66, 1);
  height: 505px;
  padding-top: 10px;
  z-index: 2;
  position: relative;
}


@media only screen and (min-width: 1100px) {
  .orang-section {
    background: rgba(255, 179, 66, 1);
    height: 860px;
    padding-top: 70px;
    z-index: 2;
    position: relative;
  }
}

.text-orangas {
  display: flex;
  background-color: #f4f4f4;
  height: 20px;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 1100px) {
  .text-orangas {
    display: flex;
    background-color: #f4f4f4;
    width: max-content;
    height: 27px;
    align-items: center;
    justify-content: center;
  }
}

.parg-orang {
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 0.36000001430511475px;
  text-align: center;
  background-color: #f4f4f4;
  margin-left: 5px;
}

@media only screen and (min-width: 1100px) {
  .parg-orang {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.36000001430511475px;
    text-align: center;
    background-color: #f4f4f4;
    margin-left: 10px;
  }
}

/* new-info-container */

.new-info-container {
  text-align: center;
  margin-top: 16px;
  align-items: center;
  display: flex;
  flex-direction: column
}

@media only screen and (min-width: 1100px) {
  .new-info-container {
    text-align: center;
    margin-top: 10px;
    align-items: center;
    align-content: center;
    display: flex;
    flex-direction: column
  }
}

.glav-orang {
  font-size: 31px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0.36000001430511475px;
  text-align: center;
  color: rgba(28, 39, 82, 1);
  margin-bottom: 1px;
}

@media only screen and (min-width: 1100px) {
  .glav-orang {
    font-size: 45px;
    font-weight: 400;
    line-height: 59px;
    letter-spacing: 0.36000001430511475px;
    text-align: center;
    color: rgba(28, 39, 82, 1);
    margin-bottom: 1px;
  }
}

.parg-orang2 {
  font-size: 10px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.36000001430511475px;
  text-align: center;
  color: rgba(28, 39, 82, 1);
  width: 350px;
}

@media only screen and (min-width: 1100px) {
  .parg-orang2 {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.36000001430511475px;
    text-align: center;
    color: rgba(28, 39, 82, 1);
    margin-left: 160px;
    margin-right: 160px;
    width: auto;
  }
}

/* button-container */
.button-container {
  text-align: center;
}


.button-click {
  width: 95px;
  height: 45px;
  border-radius: 3px;
  border: 1px solid rgba(28, 39, 82, 1);
  margin: 5px;
  background-color: #FFB342;
  cursor: pointer;
  transition: background-color 0.3s;
}

@media only screen and (min-width: 1100px) {
  .button-click {
    width: 219px;
    height: 67px;
    border-radius: 3px;
    border: 1px solid rgba(28, 39, 82, 1);
    margin: 20px 30px;
    background-color: #FFB342;
    cursor: pointer;
    transition: background-color 0.3s;

  }
}


.button-click:hover {
  background-color: #ffffff;
}

.button-click:focus {
  background-color: #ffffff;
}

.button-click.active {
  background-color: #ffffff;
}

@media only screen and (max-width: 481px) {
  .button-icon {
    width: 20px;
  }
}

@media only screen and (min-width: 1100px) {
  .button-icon {
    width: auto;
  }
}

.btn-text {
  font-size: 11px;
  font-weight: 500;
  text-align: left;
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
}

@media only screen and (min-width: 1100px) {
  .btn-text {
    font-size: 19px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
  }
}

.contentie-container {
  margin-top: 20px;
  display: flex;
  align-items: center;
  height: 220px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: -2px 8px 20px 1px rgba(0, 0, 0, 0.09);
}

@media only screen and (min-width: 1100px) {
  .contentie-container {
    margin-top: 30px;
    display: flex;
    align-items: center;
    height: 500px;
    margin-left: 100px;
    margin-right: 100px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: -2px 8px 20px 1px rgba(0, 0, 0, 0.09);
  }
}



/* /////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////// */

@media only screen and (max-width: 481px) {
  .shgfr {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    margin-left: 12px;
    margin-right: 10px;
  }
}


@media only screen and (min-width: 1100px) {
  .shgfr {
    margin-left: 30px;
    margin-bottom: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (max-width: 481px) {
  .saro {
    font-family: 'Inter';
    font-size: 11px;
    font-weight: 400;
    line-height: 13px;
    color: rgba(28, 39, 82, 1);
    background: rgba(244, 244, 244, 1);
  }
}


@media only screen and (min-width: 1100px) {
  .saro {
    font-family: 'Inter';
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
    color: rgba(28, 39, 82, 1);
    background: rgba(244, 244, 244, 1);
    width: max-content;
  }
}

@media only screen and (max-width: 481px) {
  .sarewo {
    font-size: 19px;
    margin-top: -3px;
    font-weight: 400;
    color: rgba(28, 39, 82, 1);
  }
}



@media only screen and (min-width: 1100px) {
  .sarewo {
    font-size: 40px;
    margin-top: 1px;
    font-weight: 400;
    color: rgba(28, 39, 82, 1);
  }
}


@media only screen and (max-width: 481px) {
  .ogurg {
    font-family: 'Inter';
    margin-top: -10px;
    font-size: 8px;
    font-weight: 400;
    line-height: 15px;
    color: rgba(126, 126, 126, 1);
  }
}


@media only screen and (min-width: 1100px) {
  .ogurg {
    font-family: 'Inter';
    margin-top: 1px;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: rgba(126, 126, 126, 1);
  }
}

@media only screen and (max-width: 481px) {
  .ogurg2 {
    font-family: 'Inter';
    margin-top: -10px;
    font-size: 8px;
    font-weight: 400;
    line-height: 15px;
    color: rgba(126, 126, 126, 1);
  }
}


@media only screen and (min-width: 1100px) {
  .ogurg2 {
    font-family: 'Inter';
    margin-top: 1px;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: rgba(126, 126, 126, 1);
  }
}

@media only screen and (max-width: 481px) {
  .ogurfoto {
    margin-right: 15px;
    width: 150px;
    height: 160px;
  }
}


@media only screen and (min-width: 1100px) {
  .ogurfoto {
    margin-right: 30px;
    width: 416px;
    height: 366px;
  }
}

/* ////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////// */





/* Servises */

.services {
  background: rgba(244, 244, 244, 1);
  height: 700px;
  padding-top: 1px;
}

@media only screen and (min-width: 1100px) {
  .services {
    background: rgba(244, 244, 244, 1);
    height: 1100px;
    padding-top: 1px;
  }
}

.servis {
  display: flex;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
  height: 23px;
  background: rgba(255, 255, 255, 1);
  width: 148px;
  color: rgba(28, 39, 82, 1);
}


@media only screen and (min-width: 1100px) {
  .servis {
    display: flex;
    margin-top: 120px;
    justify-content: center;
    align-items: center;
    height: 27px;
    background: rgba(255, 255, 255, 1);
    width: 213px;
    margin-left: 520px;
    color: rgba(28, 39, 82, 1);
  }
}

.parg-servis {
  font-family: 'Inter';
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 0.36000001430511475px;
  text-align: center;
  margin-left: 5px;
}


@media only screen and (min-width: 1100px) {
  .parg-servis {
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.36000001430511475px;
    text-align: center;
    margin-left: 5px;
  }
}


.glavn-servis {
  margin-bottom: 13px;
  font-family: 'Mulish';
  font-size: 34px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.36000001430511475px;
  text-align: center;
  color: rgba(28, 39, 82, 1);
}


@media only screen and (min-width: 1100px) {
  .glavn-servis {
    margin-bottom: 10px;
    font-family: 'Mulish';
    font-size: 45px;
    font-weight: 400;
    line-height: 59px;
    letter-spacing: 0.36000001430511475px;
    text-align: center;
    color: rgba(28, 39, 82, 1);
  }
}

@media only screen and (max-width: 481px) {
  .paragr-servis {
    font-family: 'Inter';
    font-size: 10px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.36000001430511475px;
    text-align: center;
    color: rgba(126, 126, 126, 1);
    width: 280px;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1100px) {
  .paragr-servis {
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.36000001430511475px;
    text-align: center;
    color: rgba(126, 126, 126, 1);
    width: 800px;
    margin: 0 auto;
  }
}

.column-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
  align-items: center;
  flex-direction: row;
  align-content: center;
  margin-top: 30px;
}

@media only screen and (min-width: 1100px) {
  .column-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 30px;
    align-items: center;
    flex-direction: row;
    align-content: center;
    margin-top: 30px;
    padding: 20px 50px;
  }
}

.column {
  width: 150px;
  height: 147px;
  background: rgba(28, 39, 82, 1);
}

@media only screen and (min-width: 1100px) {
  .column {
    width: 295px;
    height: 278px;
    background: rgba(28, 39, 82, 1);
  }
}


.glavn-column {
  font-family: 'Mulish';
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 0.36000001430511475px;
  text-align: left;
  color: rgba(255, 179, 66, 1);
  margin-left: 11px;
  margin-bottom: 5px;
}



@media only screen and (min-width: 1100px) {
  .glavn-column {
    font-family: 'Mulish';
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 0.36000001430511475px;
    text-align: left;
    color: rgba(255, 179, 66, 1);
    margin-left: 30px;
  }
}

.paragr-column {
  font-family: 'Inter';
  font-size: 7px;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0.36000001430511475px;
  text-align: left;
  color: rgba(210, 210, 210, 1);
  margin-left: 11px;
  width: 135px;
}


@media only screen and (min-width: 1100px) {
  .paragr-column {
    font-family: 'Inter';
    font-size: 13px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.36000001430511475px;
    text-align: left;
    color: rgba(210, 210, 210, 1);
    margin-left: 30px;
    width: 245px;
  }
}

.img-column {
  width: 20px;
  height: 20px;
  margin-top: 15px;
  margin-left: 15px;
}


@media only screen and (min-width: 1100px) {
  .img-column {
    width: 40px;
    height: 40px;
    margin-top: 30px;
    margin-left: 30px;
  }
}

/* image-text-section */

.foto-decorations {
  width: 180px;
  height: 220px;
  margin-top: 20px;
}


@media only screen and (min-width: 1100px) {
  .foto-decorations {
    width: 530px;
    height: 650px;
  }
}


.image-textar-section {
  display: flex;
  background-color: #fff;
  /* Цвет фона секции (если нужен) */
}


.img-wir {
  width: 8px;
  height: 9px;
}


@media only screen and (min-width: 1100px) {
  .img-wir {
    width: 22px;
    height: 25px;
  }
}

.par-wir {
  font-family: 'Inter';
  font-size: 6px;
  font-weight: 400;
  letter-spacing: 0.36000001430511475px;
  text-align: left;
  margin-left: 5px;
}

@media only screen and (min-width: 1100px) {
  .par-wir {
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.36000001430511475px;
    text-align: left;
    margin-left: 5px;
  }
}

.us-wir {
  display: flex;
  align-items: center;
  background: rgba(244, 244, 244, 1);
  height: 10px;
  justify-content: center;
  margin-top: 6px;
  margin-left: 30px;
  width: 80px;
}


@media only screen and (min-width: 1100px) {
  .us-wir {
    display: flex;
    align-items: center;
    background: rgba(244, 244, 244, 1);
    height: 27px;
    justify-content: center;
    margin-top: 20px;
    margin-left: 100px;
    width: 200px;
    margin-bottom: -20px;
  }
}

.new-info-wir {
  margin-left: 8px;
  font-family: 'Mulish';
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.36000001430511475px;
  text-align: left;
  color: rgba(28, 39, 82, 1);
  width: 157px;
}


@media only screen and (min-width: 1100px) {
  .new-info-wir {
    margin-left: 100px;
    font-family: 'Mulish';
    font-size: 45px;
    font-weight: 400;
    letter-spacing: 0.36000001430511475px;
    text-align: left;
    color: rgba(28, 39, 82, 1);
    width: 537px;
  }
}

.para-new-wir {
  font-family: 'Inter';
  font-size: 6px;
  font-weight: 400;
  line-height: 10px;
  letter-spacing: 0.36000001430511475px;
  text-align: left;
  margin-left: 8px;
  color: rgba(126, 126, 126, 1);
  margin-top: -7px;
  width: 158px;
}

@media only screen and (min-width: 1100px) {
  .para-new-wir {
    font-family: 'Inter';
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.36000001430511475px;
    text-align: left;
    margin-left: 100px;
    color: rgba(126, 126, 126, 1);
    margin-right: 70px;
    margin-top: -20px;
    width: 550px;
  }
}

.boolst {
  margin-left: 10px;
}


@media only screen and (min-width: 1100px) {
  .boolst {
    margin-left: 100px;
  }
}


.foto-bolt {
  width: 11px;
  height: 11px;
}

@media only screen and (min-width: 1100px) {
  .foto-bolt {
    width: 32px;
    height: 32px;
  }
}

.garip {
  display: flex;
  align-items: center;
}


.info-bolt {
  margin-left: 4px;
  font-family: 'Mulish';
  font-size: 7px;
  font-weight: 400;
  letter-spacing: 0.36000001430511475px;
  text-align: left;
  color: rgba(28, 39, 82, 1);
}

@media only screen and (min-width: 1100px) {
  .info-bolt {
    margin-left: 15px;
    font-family: 'Mulish';
    font-size: 19px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.36000001430511475px;
    text-align: left;
    color: rgba(28, 39, 82, 1);
  }
}

.bolt {
  margin-top: -5px;
}


@media only screen and (min-width: 1100px) {
  .bolt {
    margin-top: -17px;
  }
}

.info-bolt-parg {
  font-family: 'Inter';
  font-size: 6px;
  font-weight: 400;
  line-height: 9px;
  letter-spacing: 0.36000001430511475px;
  text-align: left;
  color: rgba(126, 126, 126, 1);
  margin-right: 10px;
  margin-top: -1px;
}

@media only screen and (min-width: 1100px) {
  .info-bolt-parg {
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.36000001430511475px;
    text-align: left;
    color: rgba(126, 126, 126, 1);
    margin-right: 150px;
    margin-left: 45px;
    margin-top: -10px;
  }
}


.overlay {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(28, 39, 82, 0.86);
  padding: 10px;
  text-align: center;
}


@media only screen and (min-width: 1100px) {
  .overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(28, 39, 82, 0.86);
    /* Прозрачный синий фон */
    padding: 55px;
    text-align: center;
  }
}


.content {
  color: #fff;
  display: flex;
  justify-content: center;
  margin-bottom: 9px;
}

@media only screen and (min-width: 1100px) {
  .content {
    color: #fff;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
}

.number {
  font-family: 'Mulish';
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.36000001430511475px;
  text-align: left;
  color: rgba(28, 39, 82, 1);
}


@media only screen and (min-width: 1100px) {
  .number {
    font-family: 'Mulish';
    font-size: 24px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0.36000001430511475px;
    text-align: left;
    color: rgba(28, 39, 82, 1);
  }
}


.number-textar {
  width: 45px;
  height: 20px;
  background: rgba(255, 179, 66, 1);
  border: 1px solid rgba(255, 179, 66, 1);
  align-items: center;
  display: flex;
  justify-content: center;
}

@media only screen and (min-width: 1100px) {
  .number-textar {
    width: 100px;
    height: 50px;
    border: 1px;
    background: rgba(255, 179, 66, 1);
    border: 1px solid rgba(255, 179, 66, 1);
    align-items: center;
    display: flex;
    justify-content: center;
  }
}


.text-textar {
  border: 1px solid rgba(255, 255, 255, 1);
  width: 90px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 1100px) {
  .text-textar {
    border: 1px solid rgba(255, 255, 255, 1);
    width: 210px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.parag-textar {
  font-family: 'Mulish';
  font-size: 9px;
  font-weight: 400;
  letter-spacing: 0.36000001430511475px;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}


@media only screen and (min-width: 1100px) {
  .parag-textar {
    font-family: 'Mulish';
    font-size: 24px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0.36000001430511475px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
  }
}

.image-textar-section {
  position: relative;
  padding: 15px 0px;
}


@media only screen and (min-width: 1100px) {
  .image-textar-section {
    position: relative;
  }
}

.imagesis-container {
  position: relative;
  display: inline-block;
}

/* image-grid-section */

.foto-drap {
  width: 11px;
  height: 14px;
}


@media only screen and (min-width: 1100px) {
  .foto-drap {
    width: 22px;
    height: 25px;
  }
}

.image-grid-section {
  height: 290px;
  background-color: rgba(28, 39, 82, 1);
  padding-right: 40px;
  padding-left: 40px;
  padding-top: 20px;
}

@media only screen and (min-width: 1100px) {
  .image-grid-section {
    height: 700px;
    background-color: rgba(28, 39, 82, 1);
    padding-top: 120px;
    padding-right: 40px;
    padding-left: 40px;
  }
}

.parg-drap {
  font-family: 'Inter';
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.36000001430511475px;
  text-align: center;
  margin-left: 5px;
}


@media only screen and (min-width: 1100px) {
  .parg-drap {
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.36000001430511475px;
    text-align: center;
    margin-left: 5px;
  }
}

.drap {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(244, 244, 244, 1);
  height: 18px;
  width: 75px;
  margin: auto;
}


@media only screen and (min-width: 1100px) {
  .drap {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(244, 244, 244, 1);
    height: 27px;
    width: 160px;
    margin-left: 510px;
  }
}

.text-drap {
  font-family: 'Mulish';
  font-size: 25px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0.36000001430511475px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}


@media only screen and (min-width: 1100px) {
  .text-drap {
    font-family: 'Mulish';
    font-size: 45px;
    font-weight: 400;
    line-height: 59px;
    letter-spacing: 0.36000001430511475px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
  }
}

.imageli-drap {
  display: flex;
  justify-content: center;
  gap: 10px;
}


@media only screen and (min-width: 1100px) {
  .imageli-drap {
    display: flex;
    justify-content: center;
    gap: 30px;
  }
}

.foto-imaheli {
  width: 70px;
  height: 80px;
}


@media only screen and (min-width: 1100px) {
  .foto-imaheli {
    width: 250px;
    height: 280px;
  }
}

.imageli {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100px;
  height: 150px;
  border-radius: 1px;
  background: linear-gradient(0deg, #FFFFFF, #FFFFFF);
  border: 1px solid rgba(210, 210, 210, 1);
  transition: transform 0.3s;

}


@media only screen and (min-width: 1100px) {
  .imageli {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 280px;
    height: 430px;
    border-radius: 1px;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF);
    border: 1px solid rgba(210, 210, 210, 1);
    transition: transform 0.3s;

  }
}

.imageli:hover,
.imageli:focus {
  transform: scale(1.1);
  /* Увеличиваем размер на 10% при наведении или фокусировке */
}

.text-pargone {
  font-family: 'Mulish';
  font-size: 6px;
  font-weight: 400;
  line-height: 9px;
  letter-spacing: 0.36000001430511475px;
  text-align: center;
  color: rgba(28, 39, 82, 1);
  margin-top: 10px;
  margin-bottom: 1px;

}


@media only screen and (min-width: 1100px) {
  .text-pargone {
    font-family: 'Mulish';
    font-size: 23px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.36000001430511475px;
    text-align: center;
    color: rgba(28, 39, 82, 1);
    margin-top: 10px;
    margin-bottom: 1px;

  }
}

.text-pargtho {
  font-family: 'Inter';
  font-size: 8px;
  font-weight: 400;
  letter-spacing: 0.36000001430511475px;
  text-align: center;
  color: rgba(126, 126, 126, 1);
}


@media only screen and (min-width: 1100px) {
  .text-pargtho {
    font-family: 'Inter';
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.36000001430511475px;
    text-align: center;
    color: rgba(126, 126, 126, 1);
  }
}

/*  */


.price-var {
  height: 430px;
  background: rgba(244, 244, 244, 1);
}


@media only screen and (min-width: 1100px) {
  .price-var {
    height: 950px;
    background: rgba(244, 244, 244, 1);
    padding: 90px;
  }
}

/*  */
@media only screen and (max-width: 481px) {
  .paragraf-price-ac {
    display: flex;
    align-items: center;
    height: 16px;
    width: 95px;
    background: rgba(255, 255, 255, 1);
    justify-content: center;
    margin-left: 10px;
    margin-top: 20px;
  }
}


@media only screen and (min-width: 1100px) {
  .paragraf-price-ac {
    display: flex;
    align-items: center;
    height: 27px;
    width: 150px;
    background: rgba(255, 255, 255, 1);
    justify-content: center;
  }
}

.foto-price {
  width: 11px;
  height: 13px;
}

@media only screen and (min-width: 1100px) {
  .foto-price {
    width: 22px;
    height: 25px;
  }
}


.smool-text {
  font-family: 'Inter';
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 0.36000001430511475px;
  text-align: left;
  color: rgba(28, 39, 82, 1);
  margin-left: 5px;
}


@media only screen and (min-width: 1100px) {
  .smool-text {
    font-family: 'Inter';
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.36000001430511475px;
    text-align: left;
    color: rgba(28, 39, 82, 1);
    margin-left: 5px;
  }
}

@media only screen and (max-width: 471px) {
  .text-big-price {
    font-family: 'Mulish';
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0.36000001430511475px;
    text-align: left;
    color: rgba(28, 39, 82, 1);
    margin-left: 14px;
    width: 150px;
  }
}

@media only screen and (min-width: 1100px) {
  .text-big-price {
    font-family: 'Mulish';
    font-size: 46px;
    font-weight: 400;
    line-height: 59px;
    letter-spacing: 0.36000001430511475px;
    text-align: left;
    color: rgba(28, 39, 82, 1);
    width: 497px;
  }
}

.price-plan {
  display: flex;
}

@media only screen and (max-width: 376px) {
  .plan-price {
    display: flex;
    align-items: center;
    gap: 9px;
    padding: 5px 7px;
  }
}

@media only screen and (min-width: 377px) and (max-width: 977px) {
  .plan-price {
    display: flex;
    align-items: center;
    gap: 13px;
    padding: 5px 30px;
  }
}

@media only screen and (min-width: 1100px) {
  .plan-price {
    display: flex;
    align-items: center;
    gap: 30px;
  }
}

@media only screen and (max-width: 481px) {
  .parg-price {
    font-family: 'Inter';
    font-size: 6px;
    font-weight: 400;
    line-height: 10px;
    letter-spacing: 0.36000001430511475px;
    text-align: left;
    color: rgba(126, 126, 126, 1);
    margin-left: 30px;
    margin-top: 45px;
    width: 180px;

  }
}

@media only screen and (min-width: 1100px) {
  .parg-price {
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.36000001430511475px;
    text-align: left;
    color: rgba(126, 126, 126, 1);
    margin-left: 50px;
    margin-top: 50px;

  }
}

.block-price {
  width: 108px;
  height: 180px;
  background: rgba(255, 255, 255, 1);
}

@media only screen and (min-width: 1100px) {
  .block-price {
    width: 350px;
    height: 580px;
    background: rgba(255, 255, 255, 1);
  }
}

.lime-prg {
  font-family: 'Inter';
  font-size: 5px;
  font-weight: 400;
  letter-spacing: 0.3199999928474426px;
  text-align: left;
  color: rgba(126, 126, 126, 1);
  /* margin-bottom: 10px; */
}

@media only screen and (min-width: 1100px) {
  .lime-prg {
    font-family: 'Inter';
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3199999928474426px;
    text-align: left;
    color: rgba(126, 126, 126, 1);
    margin-top: 50px;
    margin-left: 20px;
  }
}

.lime-pay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 481px) {
  .plan-lime {
    font-family: 'Inter';
    font-size: 8px;
    font-weight: 400;
    letter-spacing: 0.4000000059604645px;
    text-align: left;
    color: rgba(28, 39, 82, 1);
    margin-bottom: 5px;
    margin-top: -6px;
    margin-left: 5px;
    width: 62px;
  }
}

@media only screen and (min-width: 1100px) {
  .plan-lime {
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.4000000059604645px;
    text-align: left;
    color: rgba(28, 39, 82, 1);
    margin-bottom: 5px;
  }
}

@media only screen and (max-width: 481px) {
  .plan-pay {
    font-family: 'Mulish';
    font-size: 8px;
    font-weight: 400;
    letter-spacing: 0.36000001430511475px;
    text-align: left;
    color: rgba(28, 39, 82, 1);
    margin-top: -1px;
    margin-right: 23px;
  }
}

@media only screen and (min-width: 1100px) {
  .plan-pay {
    font-family: 'Mulish';
    font-size: 32px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0.36000001430511475px;
    text-align: left;
    color: rgba(28, 39, 82, 1);
    margin-top: 5px;
  }
}

.lime {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

@media only screen and (max-width: 376px) {
  .linia {
    width: 100px;
    height: 1px;
    margin: auto;
    background: rgba(215, 215, 215, 1);
    margin-top: -3px;
  }
}

@media only screen and (min-width: 377px) and (max-width: 977px) {
  .linia {
    width: 100px;
    height: 1px;
    margin: auto;
    background: rgba(215, 215, 215, 1);
    margin-top: -3px;
  }
}

@media only screen and (min-width: 1100px) {
  .linia {
    width: 300px;
    height: 1px;
    margin: auto;
    background: rgba(215, 215, 215, 1);
  }
}


@media only screen and (min-width: 1100px) {
  .text-price-vip {
    margin-top: 25px;
  }
}

.block-vip {
  display: flex;
  align-items: center;
  margin-left: 5px;
  height: 15px;
}


@media only screen and (min-width: 1100px) {
  .block-vip {
    display: flex;
    align-items: center;
    margin-left: 35px;
    height: 40px;
  }
}

@media only screen and (max-width: 481px) {
  .parg-vip {
    font-family: 'Inter';
    font-size: 5px;
    font-weight: 400;
    line-height: 6px;
    text-align: left;
    color: rgba(126, 126, 126, 1);
    margin-left: 5px;
    margin-bottom: 2.5px;
  }
}

@media only screen and (min-width: 1100px) {
  .parg-vip {
    font-family: 'Inter';
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.36000001430511475px;
    text-align: left;
    color: rgba(126, 126, 126, 1);
    margin-left: 10px;
  }
}

@media only screen and (max-width: 481px) {
  .foto-block {
    width: 9px;
    height: 9px;
  }
}

@media only screen and (min-width: 1100px) {
  .foto-block {
    width: 19px;
    height: 19px;
  }
}

@media only screen and (max-width: 481px) {
  .btn-vip {
    font-family: 'Inter';
    font-size: 5px;
    font-weight: 400;
    text-align: center;
    color: rgba(28, 39, 82, 1);
    width: 56px;
    height: 16px;
    background: #ffb342;
    border: 2px solid #ffb342;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
  }
}


@media only screen and (min-width: 1100px) {
  .btn-vip {
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.36000001430511475px;
    text-align: center;
    color: rgba(28, 39, 82, 1);
    width: 270px;
    height: 60px;
    border: 2px;
    background: #ffb342;
    border: 2px solid #ffb342;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
  }
}


.btn-vip:hover,
.btn-vip:focus {
  background-color: #ffb342;
  transform: scale(1.1);
}

@media only screen and (max-width: 481px) {
  .button-vip-btn {
    margin-top: 6px;
    display: flex;
    justify-content: center;
  }
}

@media only screen and (min-width: 978px) {
  .button-vip-btn {
    margin-left: 35px;
    margin-top: 35px;
  }
}

/*  */
@media only screen and (max-width: 481px) {
  .foto-iconka {
    width: 14px;
    height: 14px;
  }
}

@media only screen and (min-width: 1100px) {
  .foto-iconka {
    width: 32px;
    height: 32px;
  }
}


@media only screen and (min-width: 1100px) {
  .text-new-vip {
    margin-top: 40px;
    display: flex;
  }
}

@media only screen and (max-width: 481px) {
  .vip-pargar {
    width: 320px;
    height: 65px;
    display: flex;
    margin-top: -6px;
  }
}

@media only screen and (min-width: 1100px) {
  .vip-pargar {
    width: 550px;
    height: 170px;
    display: flex;
  }
}

.text-vipar {
  margin-left: 10px;
}

.many-vip {
  font-family: 'Mulish';
  font-size: 12px;
  font-weight: 400;
  text-align: left;
  color: rgba(28, 39, 82, 1);
}

@media only screen and (min-width: 1100px) {
  .many-vip {
    font-family: 'Mulish';
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.36000001430511475px;
    text-align: left;
    color: rgba(28, 39, 82, 1);
  }
}

@media only screen and (max-width: 481px) {
  .iconka-vip {
    margin-top: 12px;
    margin-left: 10px;
  }
}

@media only screen and (min-width: 1100px) {
  .iconka-vip {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 481px) {
  .many-vip-prg {
    font-family: 'Inter';
    font-size: 7px;
    font-weight: 400;
    line-height: 11px;
    letter-spacing: 0.36000001430511475px;
    text-align: left;
    color: rgba(126, 126, 126, 1);
    margin-top: -10px;
  }
}

@media only screen and (min-width: 1100px) {
  .many-vip-prg {
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.36000001430511475px;
    text-align: left;
    color: rgba(126, 126, 126, 1);
    margin-top: -10px;
  }
}

/*  */

.section-qir {
  background: rgba(255, 179, 66, 1);
  height: 225px;
  display: flex;
}

/* @media only screen and (max-width: 481px) {
  .text-qir {
    width: 470px;
    height: 200px;
    /* margin-top: 70px;
    margin-left: 100px; */


@media only screen and (min-width: 1100px) {
  .text-qir {
    width: 470px;
    height: 200px;
    margin-top: 70px;
    margin-left: 100px;
  }
}

.text-rossilka {
  font-family: 'Mulish';
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.36000001430511475px;
  text-align: left;
  color: rgba(28, 39, 82, 1);
  margin-left: 25px;
  width: 276px;
  margin-top: 35px;
}


@media only screen and (min-width: 1100px) {
  .text-rossilka {
    font-family: 'Mulish';
    font-size: 32px;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: 0.36000001430511475px;
    text-align: left;
    color: rgba(28, 39, 82, 1);
  }
}

.prg-rossilka {
  font-family: 'Inter';
  font-size: 10px;
  font-weight: 400;
  line-height: 15px;
  text-align: left;
  color: rgba(28, 39, 82, 1);
  margin-top: -10px;
  margin-left: 25px;
  width: 300px;
}

@media only screen and (min-width: 1100px) {
  .prg-rossilka {
    font-family: 'Inter';
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.36000001430511475px;
    text-align: left;
    color: rgba(28, 39, 82, 1);
    margin-top: -19px;
  }
}


.email-block {
  margin-top: 140px;
  margin-left: -300px;

}

@media only screen and (min-width: 1100px) {
  .email-block {
    margin-top: 145px;
    margin-left: 100px;

  }
}

.subsraib {
  font-family: 'Inter';
  font-size: 12px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.36000001430511475px;
  text-align: center;
  color: rgba(28, 39, 82, 1);

  width: 100px;
  height: 37px;
  border-radius: 2px;
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(255, 255, 255, 1);
  cursor: pointer;
  transition: transform 0.3s;
}

@media only screen and (min-width: 1100px) {
  .subsraib {
    font-family: 'Inter';
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.36000001430511475px;
    text-align: center;
    color: rgba(28, 39, 82, 1);

    width: 170px;
    height: 54px;
    border-radius: 2px;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(255, 255, 255, 1);
    cursor: pointer;
    transition: transform 0.3s;
  }
}

.subsraib:focus,
.subsraib:hover {
  transform: scale(1.1);
}


.labelli {
  font-family: 'Inter';
  font-size: 12px;
  font-weight: 400;
  /* line-height: 27px; */
  letter-spacing: 0.36000001430511475px;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}

@media only screen and (min-width: 1100px) {
  .labelli {
    font-family: 'Inter';
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.36000001430511475px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
  }
}

.form-labil {
  display: flex;
}



.text-form {
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 1);
}

.input-container {
  position: relative;
}

.input-container input {
  width: 190px;
  background-color: rgba(255, 179, 66, 1);
  outline: none;
  font-size: 11px;
  background-color: transparent;
  color: #333;
  height: 34px;
}

@media only screen and (min-width: 1100px) {
  .input-container input {
    width: 300px;
    background-color: rgba(255, 179, 66, 1);
    outline: none;
    font-size: 17px;
    background-color: transparent;
    color: #333;
  }
}

.input-container label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  opacity: 0.5;
}

.input-container input:focus+label,
.input-container input:placeholder-shown+label {
  opacity: 1;
}

.input-container input:focus,
.input-container input:placeholder-shown {
  background-color: transparent;
}

.input-container input:focus+label,
.input-container input:valid+label {
  opacity: 0;
  /* Исчезновение лейбла при фокусе или вводе текста */
}



/* footer-section */

.footer-section {
  padding: 20px 45px;
  height: 450px;
  background-color: rgba(28, 39, 82, 1);
}

.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-box {
  margin-top: 60px;
  margin-right: 40px;
}

.address-footer {
  display: flex;
  margin-left: 20px;
  align-items: center;
  margin-top: 40px;
  cursor: pointer;
}


.logo-adress-footer {
  display: flex;
}

.logo-lokation-footer {
  cursor: pointer;
}

.logo-email-footer,
.logo-tell-footer,
.logo-lokation-footer {
  transition: transform 0.3s ease;
}

.logo-email-footer:hover,
.logo-tell-footer:hover,
.logo-lokation-footer:hover {
  transform: scale(1.1);
  /* Увеличение в 1.2 раза при наведении */
}

.parg-adres-footer,
.location-info {
  font-family: 'Mulish';
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.36000001430511475px;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}

.email-cont-footer,
.tell-cont-footer,
.location-cont-footer {
  font-family: 'Inter';
  font-size: 17px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.36000001430511475px;
  text-align: left;
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}

.emaill-footer,
.teell-footer,
.location-marker {
  margin-left: 15px;
}

.linia-footer {
  background: rgba(75, 85, 125, 1);
  height: 1px;
  margin-top: 5px;
}

.footer-iconka {
  width: 400px;
  margin-top: 50px;
}


.paragraf-footer-iconka {
  font-family: 'Inter';
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.36000001430511475px;
  text-align: left;
  color: rgba(255, 255, 255, 1);

}

.icons-iconka {
  display: flex;
  gap: 15px;
  margin-top: 40px;
}

.icon-ftr {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 60px;
  height: 60px;
  border-radius: 100px;
  background: rgba(44, 55, 101, 1);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.icon-ftr:hover {
  background-color: #06103b;

}


.vertical-line {
  border-left: 1px solid#4b557d;
  height: 160px;
  margin: 0 15px;
  margin-top: 160px;
}

.vertical-liner {
  border-left: 1px solid#4b557d;
  height: 160px;
  margin: 0 70px;
  margin-top: 160px;

}

.change-footer {
  display: flex;
}

.footer-word-text {
  display: flex;
  margin-left: 40px;
  gap: 90px;

  justify-content: center;
  margin-top: 30px;
}

.parg-foter {
  font-family: 'Mulish';
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.36000001430511475px;
  text-align: left;
  color: #ffb342;
  margin-bottom: 7px;
}

.footer-word {
  font-family: 'Inter';
  font-size: 17px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.36000001430511475px;
  text-align: left;
  color: #ffffff;
}

.column-footer {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.varew {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.liniar-footer {

  background: rgba(75, 85, 125, 1);
  height: 1px;
  margin-top: -50px;
}