/* header */

body {
  font-family: Georgia, serif;
}


li {
  list-style: none;
  text-decoration: none;
}

@media only screen and (max-width: 489px) {
  .container {
    width: auto;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1100px) {
  .container {
    max-width: 1400px;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 489px) {
  .header {
    max-width: 489px;
    height: 30px;
    background-color: #ebebeb;
  }
}

@media only screen and (min-width: 1100px) {
  .header {
    max-width: 1440px;
    height: 69px;
    background-color: #ebebeb;
  }
}

@media only screen and (max-width: 489px) {
  .dod-header {
    display: flex;
    max-width: 489px;
    height: 29px;
    align-items: center;
  }
}

@media only screen and (min-width: 978px) {
  .dod-header {
    display: flex;
    width: 1200px;
    height: 29px;
  }
}

@media only screen and (max-width: 489px) {
  .parg-header {
    margin-left: 20px;
    font-size: 10px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.36000001430511475px;
    text-align: left;
    color: #1c2752;
  }
}

@media only screen and (min-width: 978px) {
  .parg-header {
    margin-left: 240px;
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.36000001430511475px;
    text-align: left;
    color: #1c2752;
  }
}

@media only screen and (max-width: 489px) {
  .social-icons-header {
    display: flex;
    list-style: none;
    gap: 10px;
    display: none;
  }
}

@media only screen and (min-width: 978px) {
  .social-icons-header {
    margin-left: 300px;
    display: flex;
    list-style: none;
    gap: 29px;
    margin-top: 21px;
  }
}


@media only screen and (max-width: 489px) {
  .social-icn {
    list-style: none;

  }
}

@media only screen and (min-width: 978px) {
  .social-icn {
    list-style: none;
  }
}

/* sect-one */

@media only screen and (max-width: 489px) {
  .sect-one {

    height: 128px;
    background-color: #ffffff;
    margin-left: 10px;
    /* margin-right: 140px; */
    display: flex;
  }
}

@media only screen and (min-width: 978px) {
  .sect-one {
    /* width: 1200px; */
    height: 128px;
    background-color: #ffffff;
    margin-left: 140px;
    margin-right: 140px;
    display: flex;
  }
}

@media only screen and (max-width: 489px) {
  .logo-fotofra {
    width: 150px;
  }
}

@media only screen and (max-width: 489px) {
  .logo {
    height: 48px;
    padding-top: 20px;
  }
}


@media only screen and (min-width: 978px) {
  .logo {
    width: 242px;
    height: 48px;
    padding-top: 40px;
  }
}

@media only screen and (max-width: 489px) {
  .logo-adress {
    margin-top: 15px;
  }
}

@media only screen and (min-width: 978px) {
  .logo-adress {
    display: flex;
    margin-top: 30px;
    margin-left: 200px;
    margin-bottom: 25px;
  }
}

@media only screen and (max-width: 489px) {
  .address {
    display: flex;
    align-items: center;
    margin-top: -10px;
  }
}

@media only screen and (min-width: 978px) {
  .address {
    display: flex;
    align-items: center;
    margin-left: 20px;
  }
}

@media only screen and (max-width: 489px) {
  .parg-adres {
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.36000001430511475px;
    text-align: left;
  }
}

@media only screen and (min-width: 978px) {
  .parg-adres {
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.36000001430511475px;
    text-align: left;
  }
}

@media only screen and (max-width: 489px) {

  .logo-email,
  .logo-tell {
    cursor: pointer;
    transition: transform 0.3s;
    width: 35px;
    height: 35px;
  }
}

@media only screen and (min-width: 978px) {

  .logo-email,
  .logo-tell {
    cursor: pointer;
    transition: transform 0.3s;
    width: 68px;
    height: 68px;
  }
}

@media only screen and (max-width: 489px) {

  .logo-email:focus,
  .logo-email:hover,
  .logo-tell:focus,
  .logo-tell:hover {
    transform: scale(1.2);
  }
}

@media only screen and (min-width: 978px) {

  .logo-email:focus,
  .logo-email:hover,
  .logo-tell:focus,
  .logo-tell:hover {
    transform: scale(1.2);
  }
}


@media only screen and (max-width: 489px) {

  .email-cont,
  .tell-cont {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.36000001430511475px;
    text-align: left;
    color: #7e7e7e;
    text-decoration: none;
  }
}


@media only screen and (min-width: 978px) {

  .email-cont,
  .tell-cont {
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.36000001430511475px;
    text-align: left;
    color: #7e7e7e;
    text-decoration: none;
  }
}

.teell,
.emaill {
  margin-left: 10px;
}

/* navigation */
@media only screen and (min-width: 320px) {
  .sect-info {
    width: auto;
    padding-right: 15px;
    height: 45px;
    background-color: #ffb342;
    position: absolute;
    z-index: 1;
  }
}

@media only screen and (min-width: 978px) {
  .sect-info {
    margin-left: 140px;
    margin-right: 140px;
    height: 80px;
    background: #ffb342;
    position: absolute;
    z-index: 1;
  }
}


.navigation {
  display: flex;
}

@media only screen and (max-width: 489px) {
  .navig-icons {
    display: flex;
    gap: 17px;
    margin-left: -15px;
  }
}


@media only screen and (min-width: 978px) {
  .navig-icons {
    display: flex;
    gap: 50px;
    padding-top: 7px;
  }
}

@media only screen and (max-width: 489px) {
  .na-glav {
    text-decoration: none;
    color: #222222;
    font-size: 12px;
    font-weight: 600;
    transition: color 0.3s ease;
  }
}

@media only screen and (min-width: 978px) {
  .na-glav {
    text-decoration: none;
    color: #222222;
    font-size: 17px;
    font-weight: 600;
    line-height: 30px;
    transition: color 0.3s ease;
  }
}


.footer-word {
  text-decoration: none;
}

@media only screen and (max-width: 489px) {
  .na-glav:hover {
    color: #fff;
  }
}

@media only screen and (min-width: 978px) {
  .na-glav:hover {
    color: #fff;
  }
}

@media only screen and (max-width: 489px) {
  .na-glav:active {
    color: #fff;
  }
}

@media only screen and (min-width: 978px) {
  .na-glav:active {
    color: #fff;
  }
}

@media only screen and (max-width: 489px) {
  .cta-button {
    display: none;
    width: 75px;
    height: 30px;
    border-radius: 2px;
    background: rgb(41, 53, 107);
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 0.36000001430511475px;
    text-align: center;
    color: #f4f4f4;
    margin-top: 12px;
    margin-left: 10px;
    margin-right: 25px;
    cursor: pointer;
    transition: transform 0.3s;
    border: 2px solid rgba(28, 39, 82, 1)
  }
}


@media only screen and (min-width: 978px) {
  .cta-button {
    width: 250px;
    height: 55px;
    border-radius: 2px;
    background: rgb(41, 53, 107);

    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.36000001430511475px;
    text-align: center;
    color: #f4f4f4;
    margin-top: 12px;
    margin-left: 85px;
    margin-right: 25px;

    cursor: pointer;
    transition: transform 0.3s;
    border: 2px solid rgba(28, 39, 82, 1)
  }
}

@media only screen and (max-width: 489px) {

  .cta-button:focus,
  .cta-button:hover {
    transform: scale(1.1);
  }
}

@media only screen and (min-width: 978px) {

  .cta-button:focus,
  .cta-button:hover {
    transform: scale(1.1);
  }
}

.ct-button {
  color: #f4f4f4;
  text-decoration: none;
}


/* hero */
@media only screen and (max-width: 489px) {
  .hero {
    background-image: url("../img/sect3/foto11.png");
    /* Замените путь на ваше изображение или цвет фона */
    background-size: cover;
    background-position: center;
    position: relative;
    color: #fff;
    text-align: center;
    max-width: 489px;
    height: 450px;
    margin-top: 20px;
    padding-top: 50px;
  }
}

@media only screen and (max-width: 489px) {
  .hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
}

@media only screen and (min-width: 978px) {
  .hero {
    background-image: url("../img/hero/hero.png");
    /* Замените путь на ваше изображение или цвет фона */
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    max-width: 1440px;
    height: 600px;
    margin-top: 40px;
    padding-top: 100px;
    /* Внутренние отступы */
  }
}

@media only screen and (max-width: 489px) {
  .hero-content {
    margin-left: 20px;
    margin-top: 75px;
    position: absolute;
  }
}

@media only screen and (min-width: 978px) {
  .hero-content {
    margin-left: 140px;
    margin-top: 140px;
  }
}

@media only screen and (max-width: 489px) {
  .parg-hero {
    font-size: 9px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.36000001430511475px;
    text-align: left;
    color: #ffffff;
    margin-left: 5px;
  }
}


@media only screen and (min-width: 978px) {
  .parg-hero {
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.36000001430511475px;
    text-align: left;
    color: #ffffff;
    margin-left: 10px;
  }
}


@media only screen and (max-width: 376px) {
  .text-hero {
    width: 400px;
    font-size: 40px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 1.2000000476837158px;
    text-align: left;
    color: #ffffff;
    margin-top: 20px;
  }
}

@media only screen and (min-width: 376px) {
  .text-hero {
    width: 400px;
    font-size: 42px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 1.2000000476837158px;
    text-align: left;
    color: #ffffff;
    margin-top: 20px;
  }
}

@media only screen and (min-width: 978px) {
  .text-hero {
    width: 612px;
    font-size: 60px;
    font-weight: 400;
    line-height: 78px;
    letter-spacing: 1.2000000476837158px;
    text-align: left;
    color: #ffffff;
    margin-top: 20px;
  }
}


@media only screen and (max-width: 376px) {
  .content-container {
    display: flex;
    align-items: center;
    background-color: #ffffff33;
    height: 25px;
    width: 280px;
  }
}

@media only screen and (min-width: 376px) {
  .content-container {
    display: flex;
    align-items: center;
    background-color: #ffffff33;
    height: 25px;
    width: 280px;
  }
}


@media only screen and (min-width: 978px) {
  .content-container {
    display: flex;
    align-items: center;
    background-color: #ffffff33;
    width: max-content;
    height: 29px;
  }
}


@media only screen and (max-width: 376px) {
  .button-hero {
    display: block;
    width: 150px;
    height: 46px;
    font-size: 15px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    border-radius: 2px;
    background: #ffb342;
    border: 2px solid rgba(255, 179, 66, 1);
    cursor: pointer;
    transition: transform 0.3s;
  }
}

@media only screen and (min-width: 376px) {
  .button-hero {
    display: block;
    width: 150px;
    height: 46px;
    font-size: 15px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    border-radius: 2px;
    background: #ffb342;
    border: 2px solid rgba(255, 179, 66, 1);
    cursor: pointer;
    transition: transform 0.3s;
  }
}

@media only screen and (min-width: 978px) {
  .button-hero {
    display: block;
    width: 227px;
    height: 61px;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    border-radius: 2px;
    background: #ffb342;
    border: 2px solid rgba(255, 179, 66, 1);
    cursor: pointer;
    transition: transform 0.3s;

  }
}

.button-her {
  color: #142051;
  text-decoration: none;
}

.button-hero:focus,
.button-hero:hover {
  transform: scale(1.1);
}

.button-her:focus,
.button-her:hover {
  transform: scale(1.1);
  color: #eceef4;
}

/* image-text-section */
@media only screen and (max-width: 376px) {
  .image-text-section {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media only screen and (min-width: 376px) {
  .image-text-section {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media only screen and (min-width: 978px) {
  .image-text-section {
    padding: 100px 90px;
    display: flex;
  }
}

@media only screen and (max-width: 376px) {
  .foto-fotik {
    width: 300px;
    height: 330px;
  }
}

@media only screen and (min-width: 376px) {
  .foto-fotik {
    width: 350px;
    height: 380px;
  }
}

@media only screen and (min-width: 978px) {
  .foto-fotik {
    width: 505px;
    height: 560px;
  }
}

@media only screen and (max-width: 489px) {
  .image-container {
    display: flex;
    justify-content: center;
  }
}

@media only screen and (max-width: 489px) {
  .text-sdf {
    margin-top: 10px;
  }
}


@media only screen and (min-width: 978px) {
  .text-sdf {
    margin-left: 40px;
  }
}


@media only screen and (max-width: 489px) {
  .text-paragraf {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    background-color: #f4f4f4;
  }
}

@media only screen and (min-width: 978px) {
  .text-paragraf {
    display: flex;
    align-items: center;
    width: max-content;
    height: 29px;
    background-color: #f4f4f4;
  }
}

@media only screen and (max-width: 376px) {
  .parg-bluu {
    font-size: 10px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.36000001430511475px;
    text-align: left;
    color: #1c2752;
    margin-left: 10px;
    background-color: #f4f4f4;
  }
}

@media only screen and (min-width: 376px) {
  .parg-bluu {
    font-size: 10px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.36000001430511475px;
    text-align: left;
    color: #1c2752;
    margin-left: 10px;
    background-color: #f4f4f4;
  }
}

@media only screen and (min-width: 978px) {
  .parg-bluu {
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.36000001430511475px;
    text-align: left;
    color: #1c2752;
    margin-left: 10px;
    background-color: #f4f4f4;
  }
}

@media only screen and (max-width: 376px) {
  .text-glavn {
    font-size: 29px;
    font-weight: 400;
    line-height: 37px;
    letter-spacing: 0.36000001430511475px;
    text-align: center;
    color: #1c2752;
    margin-bottom: 20px;
    margin-top: 15px;
  }
}

@media only screen and (min-width: 376px) {
  .text-glavn {
    font-size: 29px;
    font-weight: 400;
    line-height: 37px;
    letter-spacing: 0.36000001430511475px;
    text-align: center;
    color: #1c2752;
    margin-bottom: 20px;
    margin-top: 15px;
  }
}


@media only screen and (min-width: 978px) {
  .text-glavn {
    font-size: 45px;
    font-weight: 400;
    line-height: 59px;
    letter-spacing: 0.36000001430511475px;
    text-align: left;
    color: #1c2752;
    margin-bottom: 20px;
    margin-top: 2px;
  }
}

@media only screen and (max-width: 489px) {
  .clipt {
    font-size: 11px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.36000001430511475px;
    text-align: left;
    color: rgba(126, 126, 126, 1);
  }
}

@media only screen and (min-width: 978px) {
  .clipt {
    font-size: 15px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.36000001430511475px;
    text-align: left;
    color: rgba(126, 126, 126, 1);
  }
}

.pidval-text {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media only screen and (max-width: 376px) {
  .pidas {
    background: rgb(239, 237, 237);
    width: 200px;
    height: 160px;
  }
}

@media only screen and (min-width: 376px) {
  .pidas {
    background: rgb(239, 237, 237);
    width: 200px;
    height: 160px;
  }
}

@media only screen and (min-width: 978px) {
  .pidas {
    background: rgb(239, 237, 237);
    width: 220px;
    height: 200px;
  }
}

.zero-text {
  font-family: 'Open Sans', sans-serif;
  margin-top: 20px;
  font-size: 5em;
  font-weight: 400;
  line-height: 88px;
  letter-spacing: 0.36000001430511475px;
  text-align: center;
  color: rgba(255, 179, 66, 1);
}

@media only screen and (max-width: 489px) {
  .text-qerf {
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.36000001430511475px;
    text-align: center;
    color: #1c2752;
    margin-top: -70px;
  }
}

@media only screen and (min-width: 978px) {
  .text-qerf {
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.36000001430511475px;
    text-align: center;
    color: #1c2752;
    margin-top: -50px;
  }
}

@media only screen and (max-width: 376px) {
  .new-info {
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 0.36000001430511475px;
    text-align: left;
    color: rgba(126, 126, 126, 1);
    line-height: 16px;

  }
}


@media only screen and (min-width: 376px) {
  .new-info {
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 0.36000001430511475px;
    text-align: left;
    color: rgba(126, 126, 126, 1);
    line-height: 16px;

  }
}

@media only screen and (min-width: 978px) {
  .new-info {
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.36000001430511475px;
    text-align: left;
    color: rgba(126, 126, 126, 1);

  }
}

.pidas-text {
  margin-left: 10px;
  text-align: left;
}

/* orang-section */

@media only screen and (max-width: 376px) {
  .orang-section {
    background: rgba(255, 179, 66, 1);
    height: 860px;
    padding-top: 10px;
    z-index: 2;
    position: relative;
  }
}

@media only screen and (min-width: 376px) {
  .orang-section {
    background: rgba(255, 179, 66, 1);
    height: 860px;
    padding-top: 10px;
    z-index: 2;
    position: relative;
  }
}

@media only screen and (min-width: 978px) {
  .orang-section {
    background: rgba(255, 179, 66, 1);
    height: 860px;
    padding-top: 70px;
    z-index: 2;
    position: relative;
  }
}

@media only screen and (max-width: 376px) {
  .text-orangas {
    display: flex;
    background-color: #f4f4f4;
    height: 20px;
    align-items: center;
    justify-content: center;
  }
}

@media only screen and (min-width: 376px) {
  .text-orangas {
    display: flex;
    background-color: #f4f4f4;
    height: 20px;
    align-items: center;
    justify-content: center;
  }
}

@media only screen and (min-width: 978px) {
  .text-orangas {
    display: flex;
    background-color: #f4f4f4;
    width: max-content;
    height: 27px;
    align-items: center;
    justify-content: center;
  }
}

@media only screen and (max-width: 376px) {
  .parg-orang {
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 0.36000001430511475px;
    text-align: center;
    background-color: #f4f4f4;
    margin-left: 5px;
  }
}

@media only screen and (min-width: 376px) {
  .parg-orang {
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 0.36000001430511475px;
    text-align: center;
    background-color: #f4f4f4;
    margin-left: 5px;
  }
}

@media only screen and (min-width: 978px) {
  .parg-orang {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.36000001430511475px;
    text-align: center;
    background-color: #f4f4f4;
    margin-left: 10px;
  }
}

/* new-info-container */

@media only screen and (max-width: 376px) {
  .new-info-container {
    text-align: center;
    margin-top: 16px;
    align-items: center;
    display: flex;
    flex-direction: column
  }
}


@media only screen and (min-width: 376px) {
  .new-info-container {
    text-align: center;
    margin-top: 16px;
    align-items: center;
    display: flex;
    flex-direction: column
  }
}

@media only screen and (min-width: 978px) {
  .new-info-container {
    text-align: center;
    margin-top: 10px;
    align-items: center;
    align-content: center;
    display: flex;
    flex-direction: column
  }
}

@media only screen and (max-width: 376px) {
  .glav-orang {
    font-size: 35px;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: 0.36000001430511475px;
    text-align: center;
    color: rgba(28, 39, 82, 1);
    margin-bottom: 1px;
  }
}

@media only screen and (min-width: 376px) {
  .glav-orang {
    font-size: 36px;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: 0.36000001430511475px;
    text-align: center;
    color: rgba(28, 39, 82, 1);
    margin-bottom: 1px;
  }
}

@media only screen and (min-width: 978px) {
  .glav-orang {
    font-size: 45px;
    font-weight: 400;
    line-height: 59px;
    letter-spacing: 0.36000001430511475px;
    text-align: center;
    color: rgba(28, 39, 82, 1);
    margin-bottom: 1px;
  }
}

@media only screen and (max-width: 376px) {
  .parg-orang2 {
    font-size: 10px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.36000001430511475px;
    text-align: center;
    color: rgba(28, 39, 82, 1);
    width: 350px;
  }
}

@media only screen and (min-width: 376px) {
  .parg-orang2 {
    font-size: 10px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.36000001430511475px;
    text-align: center;
    color: rgba(28, 39, 82, 1);
    width: 350px;
  }
}

@media only screen and (min-width: 978px) {
  .parg-orang2 {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.36000001430511475px;
    text-align: center;
    color: rgba(28, 39, 82, 1);
    margin-left: 160px;
    margin-right: 160px;
    width: auto;
  }
}

/* button-container */
.button-container {
  text-align: center;
}


@media only screen and (max-width: 376px) {
  .button-click {
    width: 95px;
    height: 45px;
    border-radius: 3px;
    border: 1px solid rgba(28, 39, 82, 1);
    margin: 5px;
    background-color: #FFB342;
    cursor: pointer;
    transition: background-color 0.3s;


  }
}

@media only screen and (min-width: 376px) {
  .button-click {
    width: 100px;
    height: 49px;
    border-radius: 3px;
    border: 1px solid rgba(28, 39, 82, 1);
    background-color: #FFB342;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 5px;

  }
}

@media only screen and (min-width: 978px) {
  .button-click {
    width: 219px;
    height: 67px;
    border-radius: 3px;
    border: 1px solid rgba(28, 39, 82, 1);
    margin: 20px 30px;
    background-color: #FFB342;
    cursor: pointer;
    transition: background-color 0.3s;

  }
}


.button-click:hover {
  background-color: #ffffff;
}

.button-click:focus {
  background-color: #ffffff;
}

.button-click.active {
  background-color: #ffffff;
}

@media only screen and (max-width: 376px) {
  .button-icon {
    width: 20px;
  }
}

@media only screen and (min-width: 376px) {
  .button-icon {
    width: 20px;
  }
}

@media only screen and (min-width: 978px) {
  .button-icon {
    width: auto;
  }
}


@media only screen and (max-width: 376px) {
  .btn-text {
    font-size: 12px;
    font-weight: 500;
    text-align: left;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
  }
}

@media only screen and (min-width: 376px) {
  .btn-text {
    font-size: 12px;
    font-weight: 500;
    text-align: left;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
  }
}

@media only screen and (min-width: 978px) {
  .btn-text {
    font-size: 19px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
  }
}


.contentie-container {
  margin-top: 30px;
  display: flex;
  align-items: center;

  height: 500px;
  margin-left: 100px;
  margin-right: 100px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: -2px 8px 20px 1px rgba(0, 0, 0, 0.09);
}



/* Servises */

.services {
  background: rgba(244, 244, 244, 1);
  height: 1100px;

  padding-top: 1px;
}

.servis {
  display: flex;
  margin-top: 200px;
  justify-content: center;
  align-items: center;
  height: 27px;
  background: rgba(255, 255, 255, 1);
  width: 213px;
  margin-left: 520px;
  color: rgba(28, 39, 82, 1);
}

.parg-servis {
  font-family: 'Inter';
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.36000001430511475px;
  text-align: center;
  margin-left: 5px;
}

.glavn-servis {
  margin-bottom: 10px;
  font-family: 'Mulish';
  font-size: 45px;
  font-weight: 400;
  line-height: 59px;
  letter-spacing: 0.36000001430511475px;
  text-align: center;
  color: rgba(28, 39, 82, 1);
}

.paragr-servis {
  font-family: 'Inter';
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.36000001430511475px;
  text-align: center;
  color: rgba(126, 126, 126, 1);
  width: 800px;
  margin: 0 auto;
}

.column-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 30px;
  align-items: center;
  flex-direction: row;
  align-content: center;
  margin-top: 30px;
  padding: 20px 50px;
}

.column {
  width: 295px;
  height: 278px;
  background: rgba(28, 39, 82, 1);
}

.glavn-column {
  font-family: 'Mulish';
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 0.36000001430511475px;
  text-align: left;
  color: rgba(255, 179, 66, 1);
  margin-left: 30px;
}

.paragr-column {
  font-family: 'Inter';
  font-size: 13px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.36000001430511475px;
  text-align: left;
  color: rgba(210, 210, 210, 1);
  margin-left: 30px;
}

.img-column {
  margin-top: 30px;
  margin-left: 30px;
}

/* image-text-section */




.image-textar-section {
  display: flex;
  background-color: #fff;
  /* Цвет фона секции (если нужен) */
}

.par-wir {
  font-family: 'Inter';
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.36000001430511475px;
  text-align: left;
  margin-left: 5px;
}

.us-wir {
  display: flex;
  align-items: center;
  background: rgba(244, 244, 244, 1);
  height: 27px;
  justify-content: center;
  margin-top: 20px;
  margin-left: 100px;
  width: 200px;
  margin-bottom: -20px;
}

.new-info-wir {
  margin-left: 100px;
  font-family: 'Mulish';
  font-size: 45px;
  font-weight: 400;
  letter-spacing: 0.36000001430511475px;
  text-align: left;
  color: rgba(28, 39, 82, 1);
}

.para-new-wir {
  font-family: 'Inter';
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.36000001430511475px;
  text-align: left;
  margin-left: 100px;
  color: rgba(126, 126, 126, 1);

  margin-right: 70px;
  margin-top: -20px;
}

.boolst {
  margin-left: 100px;
}

.garip {
  display: flex;
  align-items: center;
}

.info-bolt {
  margin-left: 15px;
  font-family: 'Mulish';
  font-size: 19px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.36000001430511475px;
  text-align: left;
  color: rgba(28, 39, 82, 1);
}

.info-bolt-parg {
  font-family: 'Inter';
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.36000001430511475px;
  text-align: left;
  color: rgba(126, 126, 126, 1);
  margin-right: 150px;
  margin-left: 45px;
  margin-top: -10px;
}


.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(28, 39, 82, 0.86);
  /* Прозрачный синий фон */
  padding: 55px;
  text-align: center;
}


.content {
  color: #fff;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.number {
  font-family: 'Mulish';
  font-size: 24px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0.36000001430511475px;
  text-align: left;
  color: rgba(28, 39, 82, 1);
}

.number-textar {
  width: 100px;
  height: 50px;
  border: 1px;
  background: rgba(255, 179, 66, 1);
  border: 1px solid rgba(255, 179, 66, 1);
  align-items: center;
  display: flex;
  justify-content: center;
}


.text-textar {
  border: 1px solid rgba(255, 255, 255, 1);
  width: 210px;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.parag-textar {
  font-family: 'Mulish';
  font-size: 24px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0.36000001430511475px;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}

.image-textar-section {
  position: relative;
}

.imagesis-container {
  position: relative;
  display: inline-block;
}

/* image-grid-section */

.image-grid-section {
  height: 700px;
  background-color: rgba(28, 39, 82, 1);
  padding-top: 120px;
  padding-right: 40px;
  padding-left: 40px;
}

.parg-drap {
  font-family: 'Inter';
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.36000001430511475px;
  text-align: center;
  margin-left: 5px;
}

.drap {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(244, 244, 244, 1);
  height: 27px;
  width: 160px;
  margin-left: 510px;
}

.text-drap {
  font-family: 'Mulish';
  font-size: 45px;
  font-weight: 400;
  line-height: 59px;
  letter-spacing: 0.36000001430511475px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}

.imageli-drap {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.imageli {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;

  width: 280px;
  height: 430px;
  border-radius: 1px;
  background: linear-gradient(0deg, #FFFFFF, #FFFFFF);
  border: 1px solid rgba(210, 210, 210, 1);
  transition: transform 0.3s;

}

.imageli:hover,
.imageli:focus {
  transform: scale(1.1);
  /* Увеличиваем размер на 10% при наведении или фокусировке */
}

.text-pargone {
  font-family: 'Mulish';
  font-size: 23px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.36000001430511475px;
  text-align: center;
  color: rgba(28, 39, 82, 1);

  margin-top: 10px;
  margin-bottom: 1px;

}

.text-pargtho {
  font-family: 'Inter';
  font-size: 17px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.36000001430511475px;
  text-align: center;
  color: rgba(126, 126, 126, 1);
}

.price-var {
  height: 950px;
  background: rgba(244, 244, 244, 1);
  padding: 90px;
}

/*  */

.paragraf-price-ac {
  display: flex;
  align-items: center;
  height: 27px;
  width: 150px;
  background: rgba(255, 255, 255, 1);
  justify-content: center;
}


.smool-text {
  font-family: 'Inter';
  font-size: 17px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.36000001430511475px;
  text-align: left;
  color: rgba(28, 39, 82, 1);
  margin-left: 5px;
}

.text-big-price {
  font-family: 'Mulish';
  font-size: 46px;
  font-weight: 400;
  line-height: 59px;
  letter-spacing: 0.36000001430511475px;
  text-align: left;
  color: rgba(28, 39, 82, 1);
  width: 497px;
}

.price-plan {
  display: flex;

}

.plan-price {
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  gap: 30px;
}

.parg-price {
  font-family: 'Inter';
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.36000001430511475px;
  text-align: left;
  color: rgba(126, 126, 126, 1);
  /* display: flex;
  align-items: center; */
  margin-left: 50px;
  margin-top: 50px;

}

.block-price {
  width: 350px;
  height: 580px;
  background: rgba(255, 255, 255, 1);
}

.lime-prg {
  font-family: 'Inter';
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3199999928474426px;
  text-align: left;
  color: rgba(126, 126, 126, 1);
  margin-top: 50px;
  margin-left: 20px;
}

.lime-pay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.plan-lime {
  font-family: 'Inter';
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.4000000059604645px;
  text-align: left;
  color: rgba(28, 39, 82, 1);
  margin-bottom: 5px;
}

.plan-pay {
  font-family: 'Mulish';
  font-size: 32px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0.36000001430511475px;
  text-align: left;
  color: rgba(28, 39, 82, 1);
  margin-top: 5px;
}

.lime {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.linia {
  width: 300px;
  height: 1px;
  margin: auto;
  background: rgba(215, 215, 215, 1);
}

.text-price-vip {
  margin-top: 25px;
}

.block-vip {
  display: flex;
  align-items: center;
  margin-left: 35px;
  height: 40px;
}

.parg-vip {
  font-family: 'Inter';
  font-size: 17px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.36000001430511475px;
  text-align: left;
  color: rgba(126, 126, 126, 1);
  margin-left: 10px;
}

.btn-vip {
  font-family: 'Inter';
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.36000001430511475px;
  text-align: center;
  color: rgba(28, 39, 82, 1);

  width: 270px;
  height: 60px;
  border: 2px;
  background: #ffb342;
  border: 2px solid #ffb342;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}


.btn-vip:hover,
.btn-vip:focus {
  background-color: #ffb342;
  transform: scale(1.1);
}


.button-vip-btn {
  margin-left: 35px;
  margin-top: 35px;
}

/*  */


.text-new-vip {
  margin-top: 40px;
  display: flex;
}


.vip-pargar {
  width: 550px;
  height: 170px;
  display: flex;
  /* align-items: center; */
}

.text-vipar {
  margin-left: 10px;
}

.many-vip {
  font-family: 'Mulish';
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.36000001430511475px;
  text-align: left;
  color: rgba(28, 39, 82, 1);
}

.iconka-vip {
  margin-top: 20px;
}

.many-vip-prg {
  font-family: 'Inter';
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.36000001430511475px;
  text-align: left;
  color: rgba(126, 126, 126, 1);
  margin-top: -10px;
}

/*  */

.section-qir {
  background: rgba(255, 179, 66, 1);
  height: 320px;
  display: flex;
}


.text-qir {
  width: 470px;
  height: 200px;
  margin-top: 70px;
  margin-left: 100px;
}

.text-rossilka {
  font-family: 'Mulish';
  font-size: 32px;
  font-weight: 400;
  line-height: 45px;
  letter-spacing: 0.36000001430511475px;
  text-align: left;
  color: rgba(28, 39, 82, 1);
}

.prg-rossilka {
  font-family: 'Inter';
  font-size: 17px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.36000001430511475px;
  text-align: left;
  color: rgba(28, 39, 82, 1);

  margin-top: -19px;
}


.email-block {
  margin-top: 145px;
  margin-left: 100px;

}

.subsraib {
  font-family: 'Inter';
  font-size: 17px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.36000001430511475px;
  text-align: center;
  color: rgba(28, 39, 82, 1);

  width: 170px;
  height: 54px;
  border-radius: 2px;
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(255, 255, 255, 1);
  cursor: pointer;
  transition: transform 0.3s;
}

.subsraib:focus,
.subsraib:hover {
  transform: scale(1.1);
}


.labelli {
  font-family: 'Inter';
  font-size: 17px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.36000001430511475px;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}

.form-labil {
  display: flex;
}



.text-form {
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 1);
}

.input-container {
  position: relative;
}

.input-container input {
  width: 300px;
  background-color: rgba(255, 179, 66, 1);
  outline: none;
  font-size: 17px;
  background-color: transparent;
  color: #333;
}

.input-container label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  opacity: 0.5;
}

.input-container input:focus+label,
.input-container input:placeholder-shown+label {
  opacity: 1;
}

.input-container input:focus,
.input-container input:placeholder-shown {
  background-color: transparent;
}

.input-container input:focus+label,
.input-container input:valid+label {
  opacity: 0;
  /* Исчезновение лейбла при фокусе или вводе текста */
}



/* footer-section */

.footer-section {
  padding: 20px 45px;
  height: 450px;
  background-color: rgba(28, 39, 82, 1);
}

.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-box {
  margin-top: 60px;
  margin-right: 40px;
}

.address-footer {
  display: flex;
  margin-left: 20px;
  align-items: center;
  margin-top: 40px;
  cursor: pointer;
}


.logo-adress-footer {
  display: flex;
}

.logo-lokation-footer {
  cursor: pointer;
}

.logo-email-footer,
.logo-tell-footer,
.logo-lokation-footer {
  transition: transform 0.3s ease;
}

.logo-email-footer:hover,
.logo-tell-footer:hover,
.logo-lokation-footer:hover {
  transform: scale(1.1);
  /* Увеличение в 1.2 раза при наведении */
}

.parg-adres-footer,
.location-info {
  font-family: 'Mulish';
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.36000001430511475px;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}

.email-cont-footer,
.tell-cont-footer,
.location-cont-footer {
  font-family: 'Inter';
  font-size: 17px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.36000001430511475px;
  text-align: left;
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}

.emaill-footer,
.teell-footer,
.location-marker {
  margin-left: 15px;
}

.linia-footer {
  background: rgba(75, 85, 125, 1);
  height: 1px;
  margin-top: 5px;
}

.footer-iconka {
  width: 400px;
  margin-top: 50px;
}


.paragraf-footer-iconka {
  font-family: 'Inter';
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.36000001430511475px;
  text-align: left;
  color: rgba(255, 255, 255, 1);

}

.icons-iconka {
  display: flex;
  gap: 15px;
  margin-top: 40px;
}

.icon-ftr {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 60px;
  height: 60px;
  border-radius: 100px;
  background: rgba(44, 55, 101, 1);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.icon-ftr:hover {
  background-color: #06103b;

}


.vertical-line {
  border-left: 1px solid#4b557d;
  height: 160px;
  margin: 0 15px;
  margin-top: 160px;
}

.vertical-liner {
  border-left: 1px solid#4b557d;
  height: 160px;
  margin: 0 70px;
  margin-top: 160px;

}

.change-footer {
  display: flex;
}

.footer-word-text {
  display: flex;
  margin-left: 40px;
  gap: 90px;

  justify-content: center;
  margin-top: 30px;
}

.parg-foter {
  font-family: 'Mulish';
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.36000001430511475px;
  text-align: left;
  color: #ffb342;
  margin-bottom: 7px;
}

.footer-word {
  font-family: 'Inter';
  font-size: 17px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.36000001430511475px;
  text-align: left;
  color: #ffffff;
}

.column-footer {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.varew {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.liniar-footer {

  background: rgba(75, 85, 125, 1);
  height: 1px;
  margin-top: -50px;
}